$popins-font: "Poppins", sans-serif;
$inter-font:"Inter", sans-serif;
$grotesk:"Space Grotesk", sans-serif;
nav{
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    align-items: center;
    margin-inline: 160px;
    .navbar ul{
        display: flex;
        gap: 40px;
        li{
            list-style: none;

        }
        a{
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: $grotesk;
            color: #6C7275;
        
        }
    }
    .icons{
        display: flex;
        gap: 16px;

    }
    .logo{
        display: flex;
        // align-items: center;
        gap:10px;
    }
    .hum-menu{
        height: 10px;
        width: 20px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        display: none;

        span{
            border: 1px solid;
        }
    }
}    
.navbar li:first-child a{
    color: #141718;
}
@media screen and (max-width: 950px){
    .container{
       margin-inline: 5rem;
    //    background-color: #141718;
    }
    
    nav{
        margin-inline: 40px;
    }
}
@media screen and (max-width: 670px){
    .navbar{
        display: none;
    }
    .logo .hum-menu{
        display: flex;
    }
    .icons img:first-child{
        display: none;
    }
    .icons img:nth-child(2){
        display: none;
    }
    nav{
        margin-inline: 20px;
    }
}
